.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin: 0 auto 31.6px 0;
}

@media screen and (min-width: 955px) {
  .header__logo {
    margin: 0 0 41px;
    width: 142px;
    height: 33px;
  }
}