.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  background-color: black;
  font-family:"Inter", "Arial", sans-serif;
}
  