.card__button-like {
  background: url('../../../images/like.svg') center no-repeat;
  border: none;
  padding: 0;
  outline: none;
  transition: opacity .3s ease-in-out;
  width: 22px;
  height: 19px;
}

.card__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}