@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./blocks/app/app.css");

@import url("./blocks/page/page.css");
@import url("./blocks/main/main.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__buttons/header__buttons.css");
@import url("./blocks/header/__button/header__button.css");
@import url("./blocks/header/__button/_email/header__button_email.css");
@import url("./blocks/header/__button/_logout/header__button_logout.css");

@import url("./blocks/sign-form/sign-form.css");
@import url("./blocks/sign-form/__button/sign-form__button.css");
@import url("./blocks/sign-form/__input/sign-form__input.css");
@import url("./blocks/sign-form/__text/sign-form__text.css");
@import url("./blocks/sign-form/__title/sign-form__title.css");

@import url("./blocks/infotooltip/infotooltip.css");
@import url("./blocks/infotooltip/__picture/infotooltip__picture.css");
@import url("./blocks/infotooltip/__text/infotooltip__text.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__add-button-image/profile__add-button-image.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__edit-button-image/profile__edit-button-image.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__avatar-button/profile__avatar-button.css");
@import url("./blocks/profile/__avatar-edit-button-container/profile__avatar-edit-button-container.css");
@import url("./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css");

@import url("./blocks/cards/cards.css");
@import url("./blocks/cards/__container/cards__container.css");
@import url("./blocks/card/card.css");
@import url("./blocks/card/__title/card__title.css");
@import url("./blocks/card/__discription/card__discription.css");
@import url("./blocks/card/__image/card__image.css");
@import url("./blocks/card/__button-like/card__button-like.css");
@import url("./blocks/card/__button-delete/card__button-delete.css");
@import url("./blocks/card/__button-delete-hidden/card__button-delete-hidden.css");
@import url("./blocks/card/__button-like/card__button-like.css");
@import url("./blocks/card/__like/card__like.css");
@import url("./blocks/card/__delete/card__delete.css");
@import url("./blocks/card/__button-like/_active/card__button-like_active.css");
@import url("./blocks/card/__like-container/card__like-container.css");
@import url("./blocks/card/__like-count/card__like-count.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__item/popup__item.css");
@import url("./blocks/popup/__item-error/popup__item-error.css");
@import url("./blocks/popup/__item/_type/popup__item_type_error.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__save-button/popup__save-button.css");
@import url("./blocks/popup/__save-button-disabled/popup__save-button-disabled.css");
@import url("./blocks/popup/_type/popup_type_image.css");
@import url("./blocks/popup/__image-container/popup__image-container.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image-title/popup__image-title.css");